@mixin button{
  padding: 8px 12px;
  border: 2px solid $white;
  border-radius: 5px;
  font-family: $headingTitle-f;
  font-size: 1rem;
  font-weight: 700;
  color: $white;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;
  @media #{$landscape-mobile}{
    padding: 10px 8px;
  }
  @media #{$iPad}{
    font-size: 2rem;
    padding: 12px 20px;
  }
 
}  

@mixin logo{
  font-size: 3rem;
  font-weight: 700;
  font-family: $headingTitle-f;
  @media #{$landscape-mobile}{
    font-size: 1.5rem;
  }
  @media #{$landscape-big}{
    font-size: 2.4rem;
  }
  @media #{$iPad}{
    font-size: 5rem;
  }
    &>*{
      color: $white;
    }
   
    
    
 
}

 //SMALL PARTS FOR HEADINGS
 @mixin headingTitle{
  font-family: $headingTitle-f;
  color: $black;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.8rem;
  @media #{$iPad}{
    font-size: 5rem;
  }
}

@mixin headingSubtitle{
  order: -1;
  font-family: $headingSubtitle-f;
  color: $black;
  font-size: 2rem;
  @media #{$iPad}{
    font-size: 4.5rem;
  }
  &:first-letter{
    text-transform: uppercase;
  }
}

@mixin headingDescription{
  font-family: $description-f;
  color: $gray;
  line-height: 150%;
  font-size: 1.5rem;
   text-align: center;
   @media #{$iPad}{
    font-size: 2.8rem;
  }
}




  

  
  
 
  
  